.flexWrap {
    margin: 0 auto;
    margin-top: 40px;
    height: 460px;
    height: auto;
    width: 1162px;
    display: flex;
    justify-content: space-between;
    display: flex;
    padding-top: 38px;
}

h1 {
    margin: 0;
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
}

.gradient {
    font-weight: 900;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(92deg, #FCB045 27.14%, #FF3F78 121.36%);
}

.leftWrap {
    width: 276px;
    margin-left: 10px;
}

.leftWrap p {
    margin-top: 30px;
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
}

.rightWrap {
    text-align: right;
    font-weight: 300;
    font-size: 18px;
    letter-spacing: 0.12px;
    margin-right: 10px;
}

.rightWrapHeader {
    width: 291px;
    padding-left: 69px;
    color: #E4E5EA;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(92deg, #FCB045 27.14%, #FD1D1D 100%);
    margin-top: 16px;
    margin-bottom: 42px;
}

.rightWrapGradient {
    letter-spacing: .05em;
    text-transform: uppercase;
    font-weight: 800;
    color: transparent;
    -webkit-text-fill-color: transparent;
}

.mobileBenefits {
    display: none;
}

.benefits {
    min-width: 330px;
}

.benefitsWrapper {
    min-width: 100%;
    padding-right: 0;
    display: flex;
    justify-content: space-between;
    height: 68px;
    max-width: 250px;
}

.benefitsWrapper:last-child {
    margin-top: 31px;
}

.benefitsWrapper div {
    width: 50%;
}

.benefitsWrapper div:first-child {
    width: 61%;
}

.benefitsWrapper span {
    text-transform: uppercase;
    letter-spacing: 0.07em;
    font-weight: 400;
}

.benefitsWrapper p {
    margin-top: 6px;
    font-size: 16px;
    font-weight: 300;
    line-height: 20px;
    font-family: 'Montserrat';
    letter-spacing: 0.016em;
}

button {
    background: #4077F3;
    border: none;
    color: unset;
    width: 262px;
    height: 61px;
    font-size: 16px;
    font-family: 'Inter';
    margin-top: 60px;
}

button:hover {
    opacity: .8;
    cursor: pointer;
    transition: all 100ms;
}

@media screen and (max-device-width: 320px) {
    .flexWrap {
        display: block;
        min-height: 451px;
        margin-top: -1px;
        width: 320px;
    }

    h1 {
        font-size: 36px;
        line-height: 44px;
        margin: 0 auto auto 4px;
    }

    .leftWrap p {
        margin: 15px auto auto 4px;
        letter-spacing: .16px;
    }

    .rightWrap {
        text-align: left;
    }

    .rightWrapHeader {
        margin: 44px auto auto 14px;
        padding: 0;
        line-height: 24px;
        font-weight: 500;
        letter-spacing: .01px;
    }

    .rightWrapGradient {
        text-transform: none;
        font-weight: 800;
        letter-spacing: .01px;
    }

    .mobileBenefits {
        display: flex;
        flex-wrap: wrap;
        text-transform: uppercase;
        font-size: 13px;
        width: 320px;
        padding-left: 30px;
    }

    .mobileBenefits p {
        width: 122px;
        position: relative;
        font-family: 'Montserrat';
        letter-spacing: 0.09em;
        line-height: 23px;   
    }
    .mobileBenefits p:nth-child(-n+2) {
        margin-top: 14px;
        margin-bottom: 0px;
    }
    .mobileBenefits p:nth-child(n+3) {
        margin-top: 6px;
    }
    .mobileBenefits p:last-child {
        width: 133px;
    }

    .mobileBenefits p::before {
        position: absolute;
        top: -4px;
        left: -17px;
        content: '-';
        font-size: 39px;
        font-weight: 200;
        background-clip: text;
        background-image: linear-gradient(92deg, #FCB045 30%, #FD1D1D 80%);
        color: transparent;
    }

    .benefitsWrapper {
        display: none;
    }

    button {
        display: none;
    }
}