.headWrapper {
    margin: 0 auto;
    width: 1160px;
    height: 73px;
    display: flex;
    font-weight: 400;
    font-size: 16px;
    color: #E4E5EA;
}

.logoWrap {
    margin-left: 10px;
    padding-bottom: 4px;
}

.logoWrap span {
    color: #E4E5EA;
    width: 165px;
    height: 24px;
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    font-size: 10px;
    line-height: 12px;
    margin-top: 9px;
}

.logo {
    width: 140px;
    height: 24px;
    display: flex;
    margin-right: 0;
}

.logo img:first-child {
    display: inline-block;
    width: 35px;
    height: 24px;
}

.logo img:last-child {
    display: inline-block;
    margin: 0;
    margin-top: 5px;
    margin-left: 8.12px;
    width: 97px;
    height: 15px;
}

.menuWrap {
    min-width: 502px;
    height: 19px;
    display: flex;
    justify-content: space-between;
    color: #E4E5EA;
    margin: 2px 0 auto 26px;
}

.menuWrap div {
    font-weight: 300;
}

.menuWrap div:hover {
    opacity: .8;
    cursor: pointer;
    transition: all 100ms;
}

.tel {
    margin-top: 2px;
    margin-left: 140px;
    width: 180px;
    height: 19px;
    font-size: 16px;
    text-align: left;
    font-weight: 300;
    letter-spacing: 0.18px;
}

.socialIcons {
    margin-top: 2px;
    margin-left: 45px;
    margin-right: 10px;
    display: flex;
    width: 117px;
}

.socialIcons img {
    margin-left: 30px;
    height: 20px;
}

.socialIcons img:first-child {
    margin-left: 0px;
}



@media screen and (max-device-width: 320px) {
 
    .headWrapper {
        margin: 0 auto;
        width: 320px;
        position: fixed;
        /* height: 73px; */
        display: flex;
        font-weight: 400;
        font-size: 16px;
        color: #E4E5EA;
        position: fixed;
        top: 0;
        height: 55px;        
    }
    .tel, .socialIcons {
        display: none;
    }
    .logoWrap {
        display: none;
    }
    .menuWrap {
        text-transform: uppercase;
        margin: 19px 16px;
        font-size: 12px;
        width: 320px;
        min-width: 60px;
        letter-spacing: .22px;
    }
    .menuWrap div:last-child {
        display: none;
    }
}